<% provide(:title, 'Blackjack Game') %>
<h3><%=link_to "Lobby", lobby_index_path %></h3> </br>
<div class="page-header"> <h1> <%= @table.name %></h1></div>
<section id= "dealerCards">
</section>
  <strong>Dealer</strong>
  <i class="icon-glass"> </i> <br /> <br />
  <i class="icon-user"> </i>
  <strong><%= @user.name %> </strong>
<section id= "playerCards">
</section>
<section id = "game">
</section>
<script>
  var myGame = new blackjack.Game({ id: <%= @game_list.id %>});
  var myUser = new blackjack.User({id: <%= @user.id %>});

  myUser.fetch({success: function() {
    var view = new blackjack.GameView();
    view.games = myGame;
    view.user = myUser;
    view.render();
  }});

</script>



<script id="card-template" type="text/x-handlebars-template">
 {{#each cards}} <div id="card" >{{this.faceValue}} {{this.suit}}</div>{{/each}}
</script>



<script id="game-template" type="text/x-handlebars-template">
  <label id="betLabel"></label>
  <label id="creditsLabel"> </label>
  <label id="levelLabel"></label>
  <div class="well">
    <input type="text" id="betInput" name="betInput" size="5">
    <div class="btn-group">
      <button id="betButton">Bet</button>
      <button id="hitButton">Hit</button>
      <button id="standButton">Stand</button>
    </div>
  </div>
</script>
