<% provide(:title, 'Lobby') %>

<h1>Welcome to the Blackjack App</h1>

	<h1> <% @tables.each do |each| %>
		<%= form_for(@game_list) do |f| %>
		<%= f.hidden_field :user_id, :value => each.id %>
		<%= f.hidden_field :table, :value => @tables.id %>
		<%= f.submit each.name, class: "btn" %>
		<%end%>
		
		Min: <%= each.min %>
		Max: <%= each.max %>		
	<% end %>	
		None 
	
	</h1>
